html {
    scroll-behavior: smooth;
}
body{
    background-color: black ;
}
.hero {
    background: linear-gradient(
        135deg,
        #04080a,
        #180b7d,
        #000000
    );
    color: white;
}

.logo {
    letter-spacing: 2px;
}

.skill {
    min-width: 100px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 999px;
    font-weight: bold;
    box-shadow: 0 3px 10px rgba(0,0,0,0.7);
    
}
.skill:hover {
    transform: translateY(-5px);
}

.projects {
    background-color: white;
    padding: 24px;
    border-radius: 16px;
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.7);
}

.projects:hover {
    transform: translateY(-5px);
}

    
input{
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 3px 10px rgba(0,0,0,0.7);
    display:flex;
    justify-content: center;
}
textarea{
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 3px 10px rgba(0,0,0,0.7);
    display:flex;
    justify-content: center;
}

.socials{
    
    padding: 10px 20px;
    border-radius: 999px;
    font-weight: bold;
    box-shadow: 0 3px 10px rgba(0,0,0,0.7);
    transition: 0.3s;
}

.socials:hover {
    transform: translateY(-5px);
}